@media(max-width:425px){
  .mob{
    margin-bottom: -25px;
  }  
}

@media(min-width:1024px){
  .slider-phone{
    display:none;
  }
}

.category-name{
  text-transform: uppercase;
  text-align: center;
  margin-top:5px;
  color: #727272;
}

.caption-text{
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
}

.make-it-center{
  margin-left:10%;
}

@media(max-width:425px){
  .mob-title{
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .submenu-collections {
    display: none;
  }
 }

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767px) {
  .submenu-collections {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
 @media (min-width: 991px) {

  .submenu-collections {
    display: block;
    position:relative;
    z-index:100;
    margin-top:-40px;
    margin-bottom: 5px;
    opacity: 0;
    }
  }

  .basket_summary {
    padding-top: 15px;
  }
  .product-inbasket:not(:last-child) {
    border-bottom: 1px solid #999;
  }
  .topbar-checkout div > span.active {
    color: #000;
    border: 1px solid #666;
    padding: 5px;
  }
  .topbar-checkout div > span.previous {
    color: #666;
  }
  .topbar-checkout div > span.visited {
    color: #333;
  }
  .topbar-checkout div > span.disabled {
    color: #999;
  }

.cat-thumb-parent {
  background-origin: border-box;
  background-position: center;

  position: relative;
  width: 400px;
  height: 400px;
  margin: 10px;

}
.cat-thumb-parent-home {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  width: 275px;
  height: 275px;
  /* width: 190px;
  height: 375px; */
  /* margin: 10px; */

}
.cat-thumb-parent-services {
  background-origin: border-box;
  background-position: center;
  position: relative;
  width: 400px;
  height: 400px;
  margin: 10px;
}

.hoo{
  display: none;
}

.cat-thumb-parent > .overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 5%;
}

.cat-thumb-parent-home > .overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);  
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 5%;
}

.cat-thumb-parent-services > .overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  left: 5%;
}

.cat-thumb-parent > .overlay:hover {
  background: rgba(255, 255, 255, 0.7);
}
.cat-thumb-parent-home > .overlay:hover {
  background: rgba(255, 255, 255, 0.7);
}
.cat-thumb-parent-services > .overlay:hover {
  background: rgba(255, 255, 255, 0.7);
}
.overlay:hover .hoo{
  display:block;
}
@media (max-width: 575px) {
  .cat-thumb-parent {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 10px;
    /*background-size: cover;*/
  }
  .cat-thumb-parent-services {
    width: 375px;
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 767px) {
  .cat-thumb-parent {
    width: 365px;
    height: 365px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cat-thumb-parent-services {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 991px) {
  .cat-thumb-parent {
    width: 365px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cat-thumb-parent-services {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1199px) {  }


.address{
  font-size: 20px;
}
.contact-form{
  padding:5px;
  width:200px;
}
.textarea-form{
  padding:25px;
}
.footer-icons-contact{
  color:#A5A5A5;
}

.w-qty {
  width: 75px;
  border: none;
  font-size: 150%;
  font-weight: 200;
  background: none;
  text-align: center !important;
}

.border-zero * {
  border: none;
}

.prod-img{
  margin:0 auto;
}

.logo{
  max-width:150px;
}

@media(min-width:768px){
  .logo{
    margin-left: 50px;
  }
}
@media(min-width: 1024px){
  .logo{
    margin-left: 70px;
    margin-bottom: -25px;
    overflow: hidden;
    }
}
@media(min-width: 1440px){
  .logo{
    /*margin: 0 auto;*/
    margin-left: 70px;
    margin-bottom: -25px;
    overflow: hidden;
    }
}

button[data-loading-text="Adding..."] {
  border: none;
}
@media(max-width:1024px){
  .mob-small h3{
    font-size: 15px;
  }
  .mob-small h5{
    font-size: 15px;
  }
}

.image-container{
  position:relative;
}
.center-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: 75%;
}

@media(max-width:768px){
  .hidden-xs{
    display:none;
  }
}
@media(min-width:768px){
  .show-xs{
    display:none;
  }
}