{% load i18n %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger">
        <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="icon-exclamation-sign"></i> {{ error }}
        </div>
    {% endfor %}
{% endif %}

<div class="row">

    {% for field in form %}
    
    <div class="col-12 {% if field.name != "code" %} {%if forloop.counter == 1%}col-sm-2{%endif%} {%if forloop.counter == 2%}col-sm-5{%endif%} {%if forloop.counter == 3%}col-sm-5{%endif%} {% endif     %}">
        
            {% include 'partials/form_field.html' with field=field style=style counter=forloop.counter%}
        
    </div>
    {% endfor %}

</div>
