{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

<!-- <div class="screen"> -->

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if not basket.is_empty %}
<!-- <div class="cart-box">
  <table class="table cart-table">
    <thead>
      <td class="col-md-1">Product</td>
      <td class="col-md-3">Price</td>
      <td class="col-md-6">Quantity</td>
      <td class="col-md-1">Total</td>
    </thead>
  </table>
</div> -->

    {% block basket_form_headers %}
        <!-- <div class="basket-title hidden-xs">
            <div class="row">
                <p class="col-sm-6 h3">Product</p>
                <p class="col-sm-3 h3">Price</p>
                <p class="col-sm-1 h3 align-right">Quantity</p>
                <p class="col-sm-1 h3 align-right">Delete</p>
                <p class="col-sm-2 h3 align-right">{% trans "Total" %}</p>
            </div>
        </div> -->
    {% endblock %}

    {% block basket_form_main %}
        <form action="." method="post" class="basket_summary" id="basket_formset">

            <h4 class="title-underline mb-4">My Cart</h4>
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-bordered table-responsive" style="width:100%;">
                <thead>
                    <th>PRODUCT</th>
                    <th>PRICE</th>
                    <th>QTY</th>
                    <th>DELETE</th>
                    <th>TOTAL</th>
                </thead>

                <tbody>

                    {% for form in formset %}
                        {% with line=form.instance product=form.instance.product %}
                        {% purchase_info_for_line request line as session %}

                        <tr>
                            <td>
                                {{ form.id }}
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                    <center>
                                      <h4>{{product.get_title|upper}}</h4>
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="img-thumbnail img-fluid" src="/media/product-pictures/{{product.get_title|slugify}}.jpg" alt="{{ product.get_title }}" style="width:250px;"/>
                                        </a>
                                    </center>
                                    {% endthumbnail %}
                                {% endwith %}
                            </td>
                            <td>
                                {% if line.is_tax_known %}
                                    {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                {% else %}
                                    {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex flex-nowrap align-items-center">
                                    <!-- <div>
                                        <a href="#" id="countplus"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div> -->
                                    <div>
                                        <select name="form-{{forloop.counter0}}-quantity" value="3" style="height:50px; width:50px; text-align:center; font-size:25px;">
                                          <option value="{{line.quantity}}" hidden selected>{{line.quantity}}</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                        </select>
                                        {% comment %}{% render_field form.quantity class+="form-control w-qty" %}{% endcomment %}
                                    </div>
                                    <!-- <div>
                                        <a href="#" id="countminus"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    </div> -->
                                    <div>
                                            <button class="btn-dark" type="submit" data-loading-text="{% trans 'Updating...' %}" style="margin-left:3px;">{% trans "Update" %}</button>
                                    </div>
                                </div>


                            </td>
                            <td>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                <div style="display:none">
                                    {{ form.DELETE }}
                                </div>
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                    {% endfor %}

                                {% endfor %}
                            </td>

                            <td>
                                {% if line.is_tax_known %}
                                    {{ line.line_price_incl_tax|currency:line.price_currency }}
                                {% else %}
                                    {{ line.line_price_excl_tax|currency:line.price_currency }}
                                {% endif %}
                            </td>
                        </tr>

                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            </form>

            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>apply coupon code</h4>
                    {% block vouchers %}
                        {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
                        {% if voucher_form %}
                                    <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                                        {% csrf_token %}
                                        {% include "partials/form_fields.html" with form=voucher_form %}
                                        <button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adding...' %}">{% trans "Add voucher" %}</button>

                                    </form>
                        {% endif %}
                    {% endblock vouchers %}

                </div>
                <div class="col-12 col-md-6 mt-2 mt-md-0">
                        {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="border:none;">
                                        <h4>SUBTOTAL</h4>
                                    </td>
                                    <td style="border:none">
                                            {{ basket.total_incl_tax|currency:basket.currency }}
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                                Taxes
                                        </td>
                                        <td>
                                            0.00
                                        </td>
                                </tr>
                                <tr>
                                        <td>

                                            Shipping Charges
                                        </td>
                                        <td>
                                            0.00
                                        </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="product-text-info">
                                            <a href="{% url 'checkout:index' %}" class="btn btn-lg btn-cart d-block mr-auto ml-auto">
                                                    {% trans "Proceed to checkout" %}
                                                </a>
                                                <span class="mt-4"><a href="/tnc/" target="_blank">By clicking on checkout you agree to our Terms and Conditions.</a></span>
                                                </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                            <div class="p-2 ml-auto"><h4></h4></div>
                        </div>

                    {% endwith %}
                </div>
            </div>

    {% comment "default basket" %}
    <!-- Default baskets total -->
            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
                    {% purchase_info_for_line request line as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ form.id }}
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="col-sm-4">
                                <h3><a href="{{ product.get_absolute_url }}">{{ line.description }}</a></h3>
                                <!-- <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p> -->
                            </div>
                            <div class="col-sm-3">
                                <div class="checkout-quantity">
                                    <div class="input-group  {% if form.errors %}error{% endif %}" style="display:block;">
                                        {% render_field form.quantity class+="form-control" %}
                                    <span class="input-group-btn" style="margin-left:3px;">
                                        <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
                                    </span>
                                    </div>
                                </div>
                                <br>
                                    <div>
                                        <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline">{% trans "Remove" %}</a>
                                        {% if user.is_authenticated %}
                                            | <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="save" class="inline">{% trans "Save for later" %}</a>
                                        {% endif %}
                                        <div style="display:none">
                                            {{ form.save_for_later }}
                                            {{ form.DELETE }}
                                        </div>
                                        {% for field_errors in form.errors.values %}
                                            {% for error in field_errors %}
                                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                            {% endfor %}

                                        {% endfor %}
                                    </div>

                            </div>
                            <div class="col-sm-1">
                                <p class="price_color align-right">
                                    {% if line.is_tax_known %}
                                        {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <p class="price_color align-right">
                                    {% if line.is_tax_known %}
                                        {{ line.line_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.line_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
    <!-- Default baskets total -->
    {% endcomment %}

    {% endblock %}
{% comment "vouchers %}
    <div class="row">
        {% block vouchers %}
            {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
            {% if voucher_form %}
                <div class="col-sm-6">
                    <div class="sub-header">
                        <h2>{% trans "Voucher/promo code" %}</h2>
                    </div>
                    <p id="voucher_form_link"><a href="#voucher" class="btn btn-default btn-full">{% trans "I have a voucher code..." %}</a></p>

                    <div id="voucher_form_container" style="display:none">
                        <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=voucher_form %}
                            <button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adding...' %}">{% trans "Add voucher" %}</button>
                            {% trans "or" %} <a href="#" id="voucher_form_cancel">{% trans "cancel" %}</a>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endblock vouchers %}

        {% block baskettotals %}
            {% include 'basket/partials/basket_totals.html' with editable=1 %}
        {% endblock baskettotals %}

        {% block formactions %}
            <a href="{% url 'checkout:index' %}" class="btn btn-lg btn-light d-block mr-auto w-75 ml-auto">
                {% trans "Proceed to checkout" %}
            </a>
        {% endblock formactions %}

    </div>
{% endcomment %}

{% else %}
    {% block emptybasket %}
        <p class="text-center p-2" style="margin-bottom:315px;">
            {% trans "Your basket is empty." %}
            <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
        </p>
    {% endblock %}
{% endif %}

{% block savedbasket %}
    {% if user.is_authenticated and saved_formset %}
        <div class="well" style="border-top:1px dashed;">
            <div class="sub-header">
                <h2><strong>{% trans "Items to buy later" %}</strong></h2>
            </div>
            <div class="row basket-title hidden-xs">
                <p class="col-sm-8 h4">{% trans "Items" %}</p>
                <p class="col-sm-2 h4 align-center">{% trans "Price" %}</p>
                <div class="col-sm-2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    {% purchase_info_for_product request form.instance.product as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ form.id }}
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ form.instance.product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="col-sm-6">
                                <h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                                <div style="display:none">
                                    {{ form.move_to_basket }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                            {% purchase_info_for_product request form.instance.product as saved %}
                            <div class="col-sm-2 align-center">
                                <p class="price_color">
                                    {% if saved.price.is_tax_known %}
                                        {{ saved.price.incl_tax|currency:saved.price.currency }}
                                    {% else %}
                                        {{ saved.price.excl_tax|currency:saved.price.currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}

<!-- </div> -->
