{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Login' %} | Souffl&eacute; by Ezma
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Login or register' %}</li>
    </ul>
{% endblock %}

{% block content %}

<div class="container login-wrapper">

    <div class="row d-flex flex-nowrap">
        <div class="col-12 col-sm-6 border">
            <div class="title-underline-center">
                already a member
            </div>
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well">
              <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                <br />
                Email Address:<br />
                <input class="form-control" id="id_login-username" name="login-username" type="email">
                Password:<br />
                <input class="form-control" id="id_login-password" name="login-password" type="password">
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <!-- <br /><br /> -->
                <button name="login_submit" type="submit" value="Log In" class="btn-dark" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button><br />
                <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static "homepage/fblogin.png" %}" /></a>
            </form>
        </div>


        <div class="col-12 col-sm-6 border">
            <div class="title-underline-center">
                register now
            </div>
            <br />
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                Email:<br />
                <input class="form-control" id="id_registration-email" name="registration-email" type="email">
                Password: <br />
                <input class="form-control" id="id_registration-password1" name="registration-password1" type="password">
                Confirm Password: <br />
                <input class="form-control" id="id_registration-password2" name="registration-password2" type="password">
                <br />
                <button name="registration_submit" type="submit" value="Register" class="btn-dark" data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>

</div>

{% endblock content %}


{% comment %}
<div class="screen">
    <div class="row">
        <div class="col-sm-6 login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well">
              <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                <br /><br />
                  {% include "partials/form_fields.html" with form=login_form %}

                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <!-- <br /><br /> -->
                <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}" style="margin-top:7px;">{% trans 'Log In' %}</button>
                <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static "homepage/fblogin.png" %}" style="margin-top:8px;" /></a>
            </form>
        </div>

        <div class="col-sm-6 register_form">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="well">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>

    </div>
</div>
{% endcomment %}
