{% extends "base2.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Register' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Register" %}
{% endblock %}

{% block content %}
<div class="screen">
    <div class="row">
      <div class="col-sm-6 login_form">
          <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
              <h2>{% trans 'Log In' %}</h2>
              {% csrf_token %}
              {% include "partials/form_fields.html" with form=login_form %}
              <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
              <button name="login_submit" type="submit" value="Log In" class="btn btn-lg btn-primary" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
          </form>
      </div>
        <div class="col-sm-6 register_form">
            <form id="register_form" action="." method="post" class="well">
                {% csrf_token %}
                <h2>Register</h2>
                {% include "partials/form_fields.html"  %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-primary btn-lg" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>

                {% if cancel_url %}
                    <span style="margin-left:10px;font-size:13pt;">{% trans "or" %}</span><span style="margin-left:10px;font-size:13pt;"><a href="{{ cancel_url }}">{% trans "Login" %}</a>.</span>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
