/* Main CSS File */
/* If modified, document with a comment on top*/
.social-icon{
  color:white;
  margin-right: 10px;
}

@font-face {
  font-family: "Garamond";
  src: url(../fonts/Garamond-Premier-Pro_19595.ttf) format("truetype");
}

@font-face {
    font-family: "trajan";
    src: url(../fonts/trajan-pro-regular.ttf) format("truetype");
}

@media only screen and (max-width: 760px) {
  .hidden-phone{
   display: none;
   }

   #product-box {
       border-top: 5px solid #000;
   }
}
@media (min-width: 979px) {
    .visible-phone {
        display:none;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .visible-phone {
        display:none;
    }
}

.font11 ul li a {
    font-size:9pt;
}

body {
    max-width: 950px;
	background:#717375;
	color:#fff;
    margin-top:25px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    font-family: "garamond";
}

.row-eq-height {
  display:         flex;
  align-items: center;
}


.center {
	margin:0 auto;
	max-width: 1280px;
}

.background-white {
	background: #fff;
	color:#000;
	padding:1em;
    margin-left:40px;
}

.container {
    background: #fff;
}

.border-black {
	border:10px solid #fff;
}

li {
	font-family: "Garamond";
}

.nav-pills li a {
	font-size:12pt;
	color:#000;
	background: none;
	border-radius: none;
}

.nav-pills li a:hover, .nav-pills li.active a:hover {
	/*color:#393939;*/
	background: none;
}

.nav-pills li.active a {
	background: none;
	color:#000;
}


.nav2 .nav-pills li a {
	font-size:9pt;
}

.list-inline li {
    margin-top:5px;
    font-size:11pt;
}

.list-inline li a {
    color:#000;
    display:block;
    width:85px;
    text-align:center;
}

.list-inline li a:hover {
    color:#393939;
    text-decoration:none;
}

.list-inline li a img {
    width:25px;
}

.form-control {border-radius: 0;}
.btn {border-radius: 0;}

.images {
	margin-top:2em;
}

.slide {
    position:relative;
}

#owl-demo .item p {
    z-index:9000;
    font-size:35px;
    text-align:center;
    position:absolute;
    width:100%;
    color:white;
    font-family:"Garamond";
    top:40%;
    text-shadow: 1px 1px 5px #000;
}

.images {
    overflow: hidden;
    width:auto;
    height: auto;
}

.images figure .slide {
    width:20%;
    float:left;
}

.images figure img {
    width:100%;
    float:left;
    opacity: 0.8;
}

.images figure {
    position: relative;
    width:500%;
    margin:0;
    left:0;
    animation: 60s slidy infinite;
}

@keyframes slidy {
    0% {
        left:0%;
    }

    10% {
        left:0%;
    }

    12% {
        left:-100%;
    }

    22% {
        left:-100%;
    }

    24% {
        left:-200%;
    }

    34% {
        left:-200%;
    }

    36% {
        left:-300%;
    }

    46% {
        left:-300%;
    }

    48% {
        left:-400%;
    }

    58% {
        left:-400%;
    }

    60% {
        left:-300%;
    }

    70% {
        left:-300%;
    }

    72% {
        left:-200%;
    }

    82% {
        left:-200%;
    }

    84% {
        left:-100%;
    }

    94% {
        left:-100%;
    }

    96% {
        left:0%;
    }
}

.navbar-default {
    background: none;
    border-radius: 0;
    border:none;
}

.navbar-default .container-fluid {
    height:100px;
}

.navbar-nav {
    margin-top:35px;
}

#bs-example-navbar-collapse-1 {
    margin-top: 77px;
    background: #fff;
    border:0;
}

.footer-font center div a {
    color:#000;
    text-decoration: none;
}

.screen {
    padding:1em;
    background: #fff;
    margin: 2em 0;
    color:#000;
}

.btn, a.btn {
    background: #000;
    border: none;
    color:#fff;
}

.btn:hover {
    background: #666;
    color:#fff;
}

a {
    color: #666;
}

a:hover {
    color: #888;
    text-decoration: none;
}

.well {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    border: none;
}

.table {
    width:100%;
}

.table tbody tr td {
    vertical-align: middle;
}

.thumbnail {
    border-radius: 0;
}

.basket-items {
    margin:1em 0;
}

.basket-title div h2, .basket-title div p {
    font-size:13pt;
}

.basket_summary {
    margin: 1em 0;
}

.basket-items div h3 {
    font-size:12pt;
}

.checkout-quantity div input[type="number"] {
    width:55px;
    margin-right:5px;
}

.sub-header h2 {
    font-size:13pt;
}

.table tbody tr th h3 {
    font-size:12pt;
}

.owl-pagination {
    position: relative;
    top: -50px;
}

.owl-buttons {
    display: none;
}

.owl-pagination div span {
    background: #fff;
}

.nav li ul {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    list-style: none;
    background: #fff;
    padding:1em;
    width: 200%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10000;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    border-top:5px solid #000;
}

.nav li ul li {
    width:50%;
}

.nav li:hover ul{ opacity: 1; }

.nav ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.nav li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.main {
    margin: 2em 0;
}

.container {
    color: #000;
}

.borderless tbody tr td, .borderless tbody tr th {
    border: none;
}

.cat-thumbnail {
    position:relative;
    overflow: hidden;
    display:block;
}

.caption {
    width:100%;
    height:224px;
    background: #1a1818;
    position: absolute;
    top: 0; left: 0; right: 0;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 0.5s;
}

.caption div {
   display: table;
   width: 100%;
   height: 100%;
}

.caption span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size:13pt;
}

.cat-thumbnail:hover .caption {
    opacity: 0.7;
}

img[usemap], map area{
    outline: none;
}

img[usemap] {
  width:550px;
}

#img-container {
    border-left:10px solid;
}

.is-table-row {
        display: table;
        margin-left:5px;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }

#owl-cat .owl-item {
    position:relative;
}

.prod-desc {
    border-top: 5px solid;
    text-align: center;
}

#owl-cat .owl-buttons {
    display: block;
}

#owl-cat .owl-buttons .owl-prev {
    position: absolute;
    top: 47%;
    left:10px;
}

#owl-cat .owl-buttons .owl-next {
    position: absolute;
    right:10px;
    top: 47%;
}

#owl-cat .owl-pagination {
    display: none;
}

.parent-prod-box {
    position:relative;
}

.prod-box {
    display: inline-block;
    position:absolute;
    left:0;
}

/*li[id^="prod-"] {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}*/

div[id^="prod-"] {
  display: none;
}

.list-inline {
    text-align: center;
    margin-bottom: 2em;
}

.list-inline .active {
    border-bottom: 2px solid;
}

.nav-tabs {
    border: none;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li a:hover, .nav-tabs li a {
    border: none;
    background: none;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover {
    border-top:2px solid;
    border-radius: 0;
}

.main .sub-header {
    text-align:center;
    border-bottom:3px solid;
    margin-bottom: 1.5em;
}

.sub-header h2 {
    font-size: 15pt;
    font-weight: 400;
}

.error-block {
    position: relative;
    top: 5px;
}

.well {
    color: #000;
}

.active .navbar-text {
    color: #fff;
}

#messages {
    display: none;
}

.list-inline-cust {
    list-style-type:none;
}

.list-inline-cust li {
    margin-bottom: 3px;
}

.list-inline-cust li a {
    width: 100%;
}

.datetimepicker {
    color: #000;
    left: 765px !important;
}

#show_image {
    width: 360px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#product-box > .col-sm-12, #product-box > .col-xs-12 {
    border:none;
}

.navbar-default .navbar-toggle {
    border-radius: 0;
}

.prod-list {
    padding:0;
    margin:0;
    list-style-type: none;
    text-transform: uppercase;
    font-family: "trajan";
    position: relative;
}

.prod-list li h4 {
    font-size: 16pt;
}

#content_inner {
    overflow: hidden;
}
