{% extends "base2.html" %}
{% load staticfiles %}
{% load currency_filters %}

{% block title %}
Home | Souffle Ezma Fine Cashmere
{% endblock %}

{% block content %}

<div class="container">
  <!-- <h3>{{category.name}} | Souffle by Ezma Fine Cashmere</h3>
  <p class="title-underline">{{category.description|safe}}</p> -->
    <div class="row owl-carousel ml-auto mr-auto">
        <!-- <div class="row"> -->
            {% for category in slider %}

            {% if category.name != "Shibori" %}
            <div class="row col-md-12 item ml-auto mr-auto">
                <!-- <div class="col-md-12 image-container item"> -->
                <!-- <a href="/catalogue/category/{{category.category.name|lower}}__{{category.category.pk}}" style="color:black;"><img src="https://souffle.co.in/media/categories/sequence.png" class="img-responsive" style="width:102%; height:100%; margin-top:5px; opacity:0.5" /> -->
                    <span class="hidden-xs hidden-phone hidden-sm">
                        <a href="/catalogue/category/{{category.name|lower}}__{{category.pk}}" style="color:black;">
                            <img src="https://www.souffle.co.in/media/category-banners/{{category.name.lower}}.png" class="img-responsive" style="width: 85%; margin-left:auto; margin-right:auto; margin-top:5px;" />
                        </a>
                    </span>                    
                    <!-- phone version -->
                    <span class="slider-phone">                        
                        <!-- <p>Phone version</p> -->
                        <a href="/catalogue/category/{{category.name|lower}}__{{category.pk}}" style="color:black;">
                            <img src="https://www.souffle.co.in/media/category-banners/{{category.name.lower}}.png" class="img-responsive" style="width: 100%; margin-left:auto; margin-right:auto; margin-top:5px;" />
                        </a>
                    </span>                    
                    <!-- <p class="center-text">
                    <span class="title-underline" style="font-size:18px;">Our {{category.name}} collection at Soufflé</span><br />
                    <span style="font-size:14px;">{{category.description|striptags}}</span><br />
                    <span class="" style="font-size:13px;">Explore {{category.category.name}}</span> -->                    
                <!-- </div>  -->
            </div>
            {% endif %}
            {% endfor %}        
    </div>

<!-- <div class="owl-carousel">
    <div class="container-rel">
        <a href="/catalogue/"><img src="{% static "new/images/desktop-bg.jpg" %}" class="img-fluid"></a>
        <h1 class="container-rel-title">souffle scarves aim gently to caress your skin with the feeling of plush luxury</h1>
    </div>
    <div class="container-rel">
        <a href="/catalogue/"><img src="{% static "new/images/desktop-bg-2.jpg" %}" class="img-fluid"></a>
        <h1 class="container-rel-title mob-title" style="left:70%;">consisting of colors &amp; textures that mirror the season and feelings that go with it</h1>
    </div>
    <div class="container-rel">
        <a href="/catalogue/"><img src="{% static "new/images/desktop-bg-3.jpg" %}" class="img-fluid"></a>
        <h1 class="container-rel-title" style="left:65%; top:10%;">wrap yourself in an array of luxurious colors</h1>
    </div>
</div> -->

<div class="container mt-4 mb-2" style="overflow:hidden;">
    <div class="title-underline">#SoufflebyEzma</div>
    <div class="row mt-4">
        <iframe src="http://instaembedder.com/gallery-v2.php?width=375&cols=3&rows=3&margin=0&color=gray&share_buttons=1&image_border=2&frame_color=white&cid=9027&" frameborder="0" width="100%" height="1140px" scrolling="no" ></iframe>       
    </div>
</div>

</div>

{% endblock %}
