{% load i18n %}
{% load staticfiles %}
{% load promotion_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "homepage/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "new/css/styles.css" %}" type="text/css" rel="stylesheet">
   <!-- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS for Search Overlay -->
    <link rel="stylesheet" type="text/css" href="{% static "homepage/css/style7.css" %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="{% static "custom.css" %}" type="text/css" rel="stylesheet" />



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<!-- Navigation and Logo -->
<div class="container d-flex justify-content-center p-4 mt-1 mb-1">
    <div class="text-center logo">
        <a href="{% url "promotions:home" %}"><img src="{% static "logo-new.png" %}" class="img-fluid" style="padding-bottom:15px;"></a>
    </div>
</div>

    <div class="container nav-container d-flex flex-column flex-md-row justify-content-around p-3 mt-2" style="position:relative;">
        <div class="p-2 text-center mob">
            <ul class="list-inline">
              {% if not request.user.is_authenticated %}
                <li class="list-inline-item"><a href="{% url "customer:login" %}" class="uppercase">login</a></li>
                <li class="list-inline-item">/</li>
                <li class="list-inline-item"><a href="{% url "customer:login" %}" class="uppercase">register</a></li>
              {% else %}
                <li class="list-inline-item"><a href="{% url "customer:summary" %}" class="uppercase">hi {{request.user.first_name}}</a></li>
                <li class="list-inline-item">/</li>
                <li class="list-inline-item"><a href="{% url "customer:logout" %}" class="uppercase">logout</a></li>
              {% endif %}
            </ul>
        </div>
        <div class="p-2 text-center mob">
            <ul class="list-inline nav-list">
                <li class="list-inline-item"><a href="/our-story/" class="uppercase">our story</a></li>
                <li class="list-inline-item"><a href="{% url "catalogue:index" %}" class="uppercase collections-menu">collection</a></li>
                <li class="list-inline-item"><a href="/services/" class="uppercase">services</a></li>
            </ul>
        </div>
        <div class="p-2 text-center mob">
            <ul class="list-inline">
                <!-- <li class="list-inline-item"><a href="#" class="uppercase"><i class="fa fa-search"></i></a></li> -->
                <li class="list-inline-item"><a href="{% url "basket:summary" %}" class="uppercase">cart ({{request.basket.num_items}})</a></li>
            </ul>
        </div>
      </div>

      <div class="container submenu-collections">
        <!-- <div class="p-0 mb-2 submenu-collections"> -->
            <div style="background:#DADADA;" class="d-flex flex-md-row justify-content-around">
                <div class="p-2 text-center"><a href="/catalogue/category/sorbet_1/">SORBET</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/shades_10/">SHADES</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/swirl_5/">SWIRL</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/shimmers_9/">SHIMMERS</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/squares_15/">SQUARES</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/stones_6/">STONES</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/stars_12/">STARS</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/sequence_13/">SEQUENCE</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/solace_17/">SOLACE</a></div>
                <div class="p-2 text-center"><a href="/catalogue/category/sands_18/">SANDS</a></div>
            </div>
        </div>

        <!-- <div style="margin-bottom:-50px;"></div> -->
<!-- endof Navigation and Logo -->

<div id="content_inner" class="container">
{% block content %}

{% endblock %}
</div>

<!-- Footer -->
    <div class="footer mt-5">
    <div class="container" style=" margin-bottom:-50px;">
        <div class="row d-flex align-items-center" style="padding-bottom:25px;">
            <div class="col-12 col-md-3">
                <a href="{% url "promotions:home" %}" class="d-block text-center">
                    <img src="{% static "logo-white.png" %}" style="width:150px;" class="img-fluid">
                </a>
            </div>
            <div class="col-12 col-md-9">
                <div class="row d-flex justify-content-around">
                    <div class="col-4 col-sm-4 col-md-4">
                        <ul class="list-unstyled mb-0" style="ml-auto mr-auto mb-0">
                            <li style="color:white;" class="uppercase"><u>find us</u></li>
                            <li><a href="/location/">store locator</a></li>
                            <li><a href="/contact/">contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <ul class="list-unstyled ml-auto mr-auto mb-0">
                            <li style="color:white;" class="uppercase"><u>information</u></li>
                            <li><a href="/shipping/">shipping &amp; returns</a></li>
                            <li><a href="/tnc/">terms &amp; privacy</a></li>
                            <li><a href="/disclaimer/">disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <ul class="list-unstyled ml-auto mr-auto mb-0">
                          <li style="color:white;" class="uppercase mb-2"><u>follow us</u></li>
                          <a href="https://www.facebook.com/soufflebyezma/" target="_blank"><img src="{% static "fb.png" %}" style="width:30px; margin-right:10px;" /></a>
                          <a href="https://www.instagram.com/soufflebyezma/" target="_blank"><img src="{% static "insta.png" %}" style="width:30px;" /></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex justify-content-md-between align-items-center text-md-down-center  pt-1 border-0">
            <div class="rights">&copy; Souffle by Ezma Fine Cashmere. All rights reserved by Essma Felts Limited and it's affiliates. No content (text and/or media) should be reproduced without prior written permission.  Essma Felts Ltd. is a public company registered under the Indian Companies Act of 1956. EZMA is a registered trade mark owned by Sameer Mehra licensed for use under agreement to Essma Felts Ltd.</div>
            <!-- <div class="footer-icons">
                <div class="d-inline-block"><a href="#"><img src="{% static "images/we-chat.png" %}" class="img-fluid"></a></div>
                <div class="d-inline-block"><a href="#"><img src="{% static "images/insta.png" %}" class="img-fluid"></a></div>
                <div class="d-inline-block"><a href="#"><img src="{% static "images/fb.png" %}" class="img-fluid"></a></div>
            </div> -->
        </div>

    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>

    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "homepage/js/jquery.js" %}"></script>
    <script src="{% static "homepage/js/owl.carousel.js" %}"></script>

    {% block extrascripts %}
        {% include "partials/extrascripts.html" %}
        {{ block.super }}
    {% endblock %}
    <script type="text/javascript">

        $(document).ready(function() {

            oscar.init();
            {% block onbodyload %}

            {% endblock %}
        });


    </script>
    <script>
        var collections = document.querySelector('.collections-menu');
    var subCollections = document.querySelector('.submenu-collections');
    // subCollections.style.opacity=0;
    collections.onmouseover = showCollections;
    subCollections.onmouseleave = hideCollections;
    window.addEventListener('scroll', hideCollections);

    function showCollections() {
        subCollections.style.opacity=1;
        console.log('showcollec')
    }

    function hideCollections() {
        subCollections.style.opacity=0;
        console.log('hide')
    }

        var qty = document.getElementById('id_form-0-quantity');
        console.log(qty);

        countplus = document.getElementById('countplus');
        countminus = document.getElementById('countminus');

        countplus.onclick = function() {
            qty.value++;
        }

        countminus.onclick = function() {
            if (qty.value > 0) {
                qty.value--;
            }
        }

    </script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84667429-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-84667429-1');
  </script>


  </body>
</html>
