{% load i18n %}
{% load staticfiles %}
{% load promotion_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "homepage/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "homepage/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "homepage/css/style.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "homepage/css/font-awesome.min.css" 5}" type="text/css" rel="stylesheet">
    <link href="{% static "homepage/css/font-awesome.css" %}" type="text/css" rel="stylesheet">
   <!-- <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static "homepage/css/owl.carousel.css" %}">

    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static "homepage/css/owl.theme.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<!-- Navigation and Logo -->
    <nav class="navbar navbar-default visible-phone" style="z-index:10000;margin-bottom:3em;">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/"><img src="{% static "homepage/images/logo.png" %}" width="175" /></a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <div>
                 <ul class="nav navbar-nav">
                   <li class="active"><a href="#">PHILOSOPHY</a></li>
                   <li><a href="{% url "catalogue:index" %}">COLLECTION</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                   <li><a href="{% url "customer:login" %}">LOGIN</a></li>
                   <li><a href="{% url "customer:register" %}">REGISTER</a></li>
                    <li><a href="{% url "basket:summary" %}">SHOPPING CART</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                 </ul>
             </div>

         </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
    </nav>
<div class="hidden-phone">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <center>
                    <a href="/"><img src="{% static "homepage/images/logo.png" %}" width="175" /></a>
                </center>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1">
                <br />
            </div>

                <div class="col-xs-12 col-sm-12 col-md-9" style="padding:1em;background:#fff;">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <ul class="nav nav-pills nav-justified">
                              <li role="presentation" class="active"><a href="/philosophy/">PHILOSOPHY</a></li>
                              <li role="presentation"><a href="{% url "catalogue:index" %}">COLLECTION</a>
                                    <ul>
                                        {% for tree_category, info in tree_categories %}
                                            <li><a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                              </li>
                            </ul>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="font11">
                                <ul class="nav nav-pills nav-justified">
                                  {% if not request.user.is_authenticated %}
                                    <li role="presentation"><a href="{% url "customer:login" %}">LOGIN</a></li>
                                    <li role="presentation"><a href="{% url "customer:register" %}">REGISTER</a></li>
                                  {% else %}
                                    <li role="presentation"><a>Hi! {{user.email}}, welcome to Ezma!</a></li>
                                  {% endif %}
                                   <li role="presentation"><a href="{% url "basket:summary" %}">CART</a></li>
                                   <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                               </ul>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>

<!-- endof Navigation and Logo -->
<div id="content_inner" class="{% if request.path == '/philosophy/' %}screen{% endif %}">
{% block content %}

{% endblock %}
</div>

<!-- Footer -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-7" style="padding:1em;background:white;float:left;">
                <div class="footer-font">
                    <center>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#">COMPANY</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#">POLICIES</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#">HELP</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="#">FAQ</a>
                        </div>
                    </center>
                </div>
            </div>

            <div class="col-xs-12 col-md-5" style="float:right;text-align:right;margin-top:10px;">
                <ul class="list-inline" style="vertical-align:middle;">
                    <li><a href="#" style="width:25px;"><img src="{% static "homepage/images/social-fb.png" %}"></a></li>
                    <li><a href="#" style="width:25px;"><img src="{% static "homepage/images/social-whatsapp.png" %}"></a></li>
                    <li><a href="#" style="width:25px;"><img src="{% static "homepage/images/social-insta.png" %}"></a></li>
                    <li><a href="#" style="width:25px;"><img src="{% static "homepage/images/social-skype.png" %}"></a></li>
                </ul>
            </div>

            <div class="clear:both;"></div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "homepage/js/bootstrap.min.js" %}"></script>
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>

    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "homepage/js/jquery.js" %}"></script>
    <script src="{% static "homepage/js/owl.carousel.js" %}"></script>

    {% block extrascripts %}
        {% include "partials/extrascripts.html" %}
        {{ block.super }}
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84667429-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-84667429-1');
</script>
    
    <script type="text/javascript">

        $(document).ready(function() {

            $("#owl-demo").owlCarousel({

                    navigation : true, // Show next and prev buttons
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    singleItem:true,
                    autoplay: true,
                    navigationText: [
                        "<i class='glyphicon glyphicon-chevron-left'  aria-hidden='true'></i>",
                        "<i class='glyphicon glyphicon-chevron-right'  aria-hidden='true'></i>"
                    ],
                    // "singleItem:true" is a shortcut for:
                    // items : 1,
                    // itemsDesktop : false,
                    // itemsDesktopSmall : false,
                    // itemsTablet: false,
                    // itemsMobile : false

                });

            oscar.init();
            {% block onbodyload %}

            {% endblock %}
        });
    </script>

  </body>
</html>
