{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Contact Us
{% endblock title %}


{% block content %}

<div class="screen" style="overflow:hidden; ">
  <br />
  <h1>Contact Us</h1>
  <div class="head"></div>
  <br />
  <div class="row">
    <div class="col-md-4 address">
      <span>info@ezma.co.in</span>
      <br /><br />
      EZMA Experiential Centre<br />
      11 IDC, Mehrauli-Gurugram Road</br />
      Gurugram - 122001, <br />
      Haryana, India<br />
      Concierge - +91 9910003962<br />
      +91 124 4205555
      <br /><br />
      EZMA ITC Maurya<br />
      Sardar Patel Marg, Diplomatic Enclave<br />
      New Delhi 110021, INDIA<br />
      Concierge - +91 9910003962<br />
      +91 11 40735555<br /><br />
      www.ezma.co.in<br />
      www.souffle.co.in<br />

      <br />
      <div class="footer-icons-contact">
        <a href="https://www.facebook.com/soufflebyezma/" target="_blank"><img src="{% static "fb.png" %}" style="width:30px; margin-right:10px;" /></a>
        <a href="https://www.instagram.com/soufflebyezma/" target="_blank"><img src="{% static "insta.png" %}" style="width:30px;" /></a>
      </div>

    </div>
    <div class="col-md-8">
      <form name="contact" action="." method="post">
        <div class="row">
          <div class="col-md-4">
            <b>NAME</b><br />
            <input class="contact-form" type="text" name="name" placeholder="First Name and Last Name" />
          </div>
          <div class="col-md-4">
            <b>EMAIL</b><br />
            <input class="contact-form" type="text" name="name" placeholder="example@example.com" />
          </div>
          <div class="col-md-4">
            <b>PHONE NUMBER</b><br />
            <input class="contact-form" type="text" name="name" placeholder="+91-9910003962" />          
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <b>MESSAGE</b><br />
            <textarea class="textarea-form" rows=10 cols=95 name="message" placeholder="Enter your message"></textarea>
          </div>
        </div>
        {% csrf_token %}
        <input type="submit" name="submit" value="Submit Query" class="btn btn-black" />
      </form>
    </div>
  </div>



</div>

{% endblock content %}
