{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Our Story
{% endblock title %}


{% block content %}

<div class="screen">
  <br />
  <h1>Disclaimer</h1>
  <div class="head"></div>
  <br />
  <p>
    Variations in yarn, weave, color as well as certain amount of fiber migration and surface pilling are unique and intrinsic characteristics of this fine cashmere product. The colors depicted in the pictures may vary. EZMA reserves the right to change or alter the colors at its own discretion. Size and weight tolerance may exist upto +-5%. Fore more information on right care, please write to info@ezma.co.in.
    <br />
    <br />
    <br />
</div>

{% endblock content %}
