{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
  Store Locator
{% endblock title %}


{% block content %}

<style type="text/css">
#map{
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  height:650px;
  background-color:grey;
}
</style>

<div class="row" style="text-align: center; margin-bottom:25px; padding-bottom:10px; border-bottom:1px solid black;">
  <div class="col-md-6">
    <img src="{% static "ezma-lounge.jpg" %}" class="img-responsive" style="max-width:100%;" /><br /><br />
    EZMA Experiential Centre<br />
    11 IDC, Mehrauli Road, Gurgaon - 122001, Haryana, India<br />
    Concierge - +91 9910003962<br />
    Store - +91 124 4205555
  </div>
  <div class="col-md-6">
    <img src="{% static "ezma-maurya.jpg" %}" class="img-responsive" style="max-width:100%;" /><br /><br />
    EZMA ITC Maurya<br />
    Sardar Patel Marg, Diplomatic Enclave, New Delhi - 110021, India<br />
    Concierge - +91 9910003962<br />
    Store - +91 11 40735555
  </div>  
</div>

<div id="map"></div>

<script>

  function initMap(){
    var delhi = {lat:28.7041, lng:77.1025};
    var bom = {lat:19.0760, lng:72.877};
    var bangalore = {lat:12.9716, lng: 77.5946};
    var chennai = {lat: 13.0827, lng: 80.2707};
    var chandigarh = {lat: 30.7333, lng: 76.7794};
    var simla = {lat: 31.1048, lng:77.1734};
    var hyderabad = {lat: 17.3850, lng: 78.4867};
    var udaipur = {lat: 24.5854, lng: 73.7125};
    var jaipur = {lat: 26.9124, lng: 75.7873};
    var agra = {lat: 27.1767, lng: 78.0081};
    var rantham = {lat: 26.0173, lng:76.5026};
    var kolkata = {lat: 22.5726, lng:88.3639};
    var jodhpur = {lat:26.2389, lng: 73.0243};
    var dehrahdun = {lat:30.3165, lng:78.0322};

    var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat:20.5937,lng:78.9629}
    });

    var markerUdai = new google.maps.Marker({
          position: udaipur,
          map: map
    });
    var markerJai = new google.maps.Marker({
          position: jaipur,
          map: map
    });
    var markerAgra = new google.maps.Marker({
          position: agra,
          map: map
    });
    var markerRantham = new google.maps.Marker({
          position: rantham,
          map: map
    });
    var markerTMC = new google.maps.Marker({
          position: kolkata,
          map: map
    });
    var marker = new google.maps.Marker({
          position: delhi,
          map: map
    });

    var marker1 = new google.maps.Marker({
          position: bom,
          map: map
    });
    var marker2 = new google.maps.Marker({
          position: bangalore,
          map: map
    });
    var marker3 = new google.maps.Marker({
          position: chennai,
          map: map
    });
    var marker4 = new google.maps.Marker({
          position: chandigarh,
          map: map
    });
    var marker5 = new google.maps.Marker({
          position: simla,
          map: map
    });
    var marker6 = new google.maps.Marker({
          position: hyderabad,
          map: map
    });
    var marker7 = new google.maps.Marker({
          position: jodhpur,
          map: map
    });
    var marker8 = new google.maps.Marker({
          position: dehrahdun,
          map: map
    });
    var infoWindow = new google.maps.InfoWindow();

    address1 = "<div style='color:black;'>"+
    "<h5>Delhi</h5><br />"+
    "<p>The Good Earth Company - 9 Khan Market, New Delhi - 110003</p>"+
    "<p>The Good Earth Company - S-06, A-3 District Centre, 2nd to 4th Floor, Select City Walk Mall, Saket, New Delhi, Delhi 110017</p>" +
    "<p>Tijori, The Oberoi, New Delhi</p>" +
    "<p>Tijori, The Oberoi, Gurgaon</p>"+
    "<p>Sandouk - Trident, Gurgaon</p>"+
    "<p>Ravissant - Grandlay Commercial Complex, 50-51,, Maulana Mohammad Ali Jauhar Marg, Friends Colony West, New Friends Colony, New Delhi, Delhi 110065</p>"+
    "<p>Ravissant - Shop #307, Level - 1, DLF Emporio, Vasant Kunj, New Delhi - 110070</p>"+    
    "</div>";
    addressBom = "<div style='color:black;'>"+
    "<h5>Mumbai</h5><br />"+
    "<p>The Good Earth Company - Raghuvanshi Mansion, Mumbai - 400013</p>"+
    "<p>The Good Earth COmpany - 2 Reay House, Colaba, Mumbai - 400001</p>"+
    "<p>Tijori, The Oberoi, Mumbai</p>"+
    "<p>Sandouk - Trident Bandra Kurla, Mumbai</p>"+
    "<p>Tranceforme Mumbai - F-11, First floor, Laxmi Mills state, Shakti Mills Lane, Off Dr. E., Dr E Moses Rd, Mumbai, Maharashtra 400011</p>"+
    "<p>Herringbone & Sui - 1st Floor, Red Bungalow, 3 Pali Village, Bandra West, Mumbai, Maharashtra 400050</p>"+
    "<p>Ravissant - 131, ABHAY CHAMBERS, AUGUST KRANTI MARG, KEMPS CORNER, MUMBAI-400039</p>"+
    "<p>Ravissant - Taj Mahal Hotel, Apollo Bunder, Mumbai – 400001</p>"+
    "</div>";
    addressHyd = "<div style='color:black;'>"+
    "<h5>Hyderabad</h5><br />"+
    "<p>Sandouk - Trident, Hyderabad</p>"+
    "<p>The Good Earth Company - No. 8-2-686/D, Road No. 12, Banjara Hills, Hyderabad, Telangana 500034</p>"+
    "</div>";
    addressChennai = "<div style='color:black;'>"+
    "<h5>Chennai</h5><br />"+
    "<p>The Good Earth Company - 4/22, Rutland Gate 4th St, Srirampuram, Thousand Lights West, Thousand Lights, Chennai, Tamil Nadu 600006</p>" +
    "<p>Evoluzione - Avastra Design Studio, No-30, Khader Nawaz Khan Road, Nugambakkam, Chennai - 6000006</p>"+
    "</div>";
    addressBang = "<div style='color:black;'>"+
    "<h5>Bangalore</h5><br />"+
    "<p>Kempegowda International Airport Duty Free (International and Domestic)</p>" +
    "<p>The Good Earth Company - No. 4, Walton Road of Lavelle Road, Bangalore - 560001</p>"+
    "<p>Evoluzione - 14 Vittal Mallya Road, Embassy Classic, Bangaluru, Karnataka - 560001</p>"+
    "</div>";
    addressSimla = "<div style='color:black;'>"+
    "<h5>Simla</h5><br />"+
    "<p>Tijori, Wildflower Hall, Simla</p>"+
    "</div>";
    addressAgra = "<div style='color:black;'>"+
    "<h5>Agra</h5><br />"+
    "<p>Tijori - The Oberoi Amarvilas, Agra</p>"+
    "</div>";
    addressJai = "<div style='color:black;'>"+
    "<h5>Jaipur</h5><br />"+
    "<p>Tijori - The Oberoi Rajvilas, Jaipur</p>"+
    "<p>The Good Earth Company - Sujan Rajmahal Palace, Jaipur  - 302001</p>"+
    "<p>The Good Earth Company -  Rajmahal Palace Hotel, Sardar Patel Marg, C Scheme, Jaipur, Rajasthan 302001Good Earth Jaipur</p>"+
    "</div>";
    addressRantham = "<div style='color:black;'>"+
    "<h5>Ranthambore</h5><br />"+
    "<p>Tijori - The Oberoi Vanyavilas, Ranthambhore</p>"+
    "</div>";
    addressUdai = "<div style='color:black;'>"+
    "<h5>Udaipur</h5><br />"+
    "<p>Tijori - The Oberoi Udaivilas, Udaipur</p>"+
    "</div>";
    addressTMC = "<div style='color:black;'>"+
    "<h5>Kolakta</h5><br />"+
    "Coming Soon"+
    "</div>";
    addressChan = "<div style='color:black;'>"+
    "<h5>Chandigarh</h5><br />"+
    "<p>Tijori, The Oberoi Sukhvilas Spa & Resort, New Chandigarh</p>"+
    "</div>";
    addressJodhpur = "<div style'coor:black;'>"+
    "<h5>Jodhpur</h5>"+
    "<p>The Good Earth Company - Moon House, Mohammed Baksh Haveli, Toorji Ka Jhalra, Makrana Mohalla, Jodhpur, Rajasthan – 342001</p>"+
    "</div>";
    addressDehradun = "<div style'coor:black;'>"+
    "<h5>Dehradun</h5>"+
    "<p>Vana Retreat - Vana Malsi Estate, Mussoorie Road, Malsi, Dehradun, Uttarakhand 248001</p>"+
    "</div>";

    google.maps.event.addListener(marker, 'click', function(){
      infoWindow.setContent(address1);
      infoWindow.open(map, marker);
    });
    google.maps.event.addListener(marker1, 'click', function(){
      infoWindow.setContent(addressBom);
      infoWindow.open(map, marker1);
    });
    google.maps.event.addListener(marker2, 'click', function(){
      infoWindow.setContent(addressBang);
      infoWindow.open(map, marker2);
    });
    google.maps.event.addListener(marker3, 'click', function(){
      infoWindow.setContent(addressChennai);
      infoWindow.open(map, marker3);
    });
    google.maps.event.addListener(marker4, 'click', function(){
      infoWindow.setContent(addressChan);
      infoWindow.open(map, marker4);
    });
    google.maps.event.addListener(marker5, 'click', function(){
      infoWindow.setContent(addressSimla);
      infoWindow.open(map, marker5);
    });
    google.maps.event.addListener(marker6, 'click', function(){
      infoWindow.setContent(addressHyd);
      infoWindow.open(map, marker6);
    });
    google.maps.event.addListener(markerTMC, 'click', function(){
      infoWindow.setContent(addressTMC);
      infoWindow.open(map, markerTMC);
    });
    google.maps.event.addListener(markerRantham, 'click', function(){
      infoWindow.setContent(addressRantham);
      infoWindow.open(map, markerRantham);
    });
    google.maps.event.addListener(markerJai, 'click', function(){
      infoWindow.setContent(addressJai);
      infoWindow.open(map, markerJai);
    });
    google.maps.event.addListener(markerUdai, 'click', function(){
      infoWindow.setContent(addressUdai);
      infoWindow.open(map, markerUdai);
    });
    google.maps.event.addListener(markerAgra, 'click', function(){
      infoWindow.setContent(addressAgra);
      infoWindow.open(map, markerAgra);
    });
    google.maps.event.addListener(marker7, 'click', function(){
      infoWindow.setContent(addressJodhpur);
      infoWindow.open(map, marker7);
    });
    google.maps.event.addListener(marker8, 'click', function(){
      infoWindow.setContent(addressDehradun);
      infoWindow.open(map, marker8);
    });

    // var markerInfoWindow = new google.maps.InfoWindow({
    //       content: address1
    // });
    // marker.addListener('click', function() {
    //       markerInfoWindow.open(map, marker);
    // });

  }

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOcZUpFkJjbc76rUAC0macYEyeHOo4GGk&callback=initMap">
</script>


{% endblock content %}
