<nav class="main-nav">
    <div class="minimal-menu">
        <ul class="menu">
            <li {% if request.resolver_match.view_name == "promotions:home" %} class="current-menu-item" {% endif %}>
                <a href="{% url "promotions:home" %}">HOME</a>
            </li>
            <li {% if request.resolver_match.namespace == "catalogue" %} class="current-menu-item" {% endif %}>
                <a href="{% url "catalogue:index" %}">CATALOGUE</a>
            </li>
            <li>
                <a href="portfolio.html">ABOUT US</a>
            </li>
            <li>
                <a href="blog.html">BLOG</a>
            </li>
            <li><a href="http://www.ezma.co.in" target="_blank">EZMA WORLD</a></li>
            <li class="hidden-xs">
                <div class="wrap-search">
                    <form action="#" class="search-form">
                        <input type="text" placeholder="Search.." />
                        <button type="submit"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- /.search-form -->
            </li>
        </ul>
    </div>
    <!-- /.minimal-menu -->
</nav>
<!-- /.main-nav -->
