{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
  Services
{% endblock title %}


{% block content %}

<div>

  <br />
  <h1>Services</h1>
  <div class="head"></div>
  <p>

  <div style="">
  <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center justify-content-md-start" style="margin-bottom:20px;" >
    <div>
      <div class="cat-thumb-parent-services" style="background-image: url('/static/wedding.jpg'); ">
          <div class="overlay">
              <div>
                  <a href="#" onclick="document.getElementById('id01').style.display='block'"
                     class="d-block overlay-parent category-name"
                     style="color:#333;">
                          <span class="hoo">Explore</span>
                          <div class="small-head1 ml-auto mr-auto hoo"></div>
                  </a>
              </div>
          </div>
          <!-- <span class="caption-text">{{products.count}} pieces</span> -->
      </div>
      <div class="category-name"><h2>Wedding Gifting</h2></div>
    </div>

    <div>
      <div class="cat-thumb-parent-services" style="background-image: url('/static/corporate.jpg'); ">
          <div class="overlay">
              <div>
                  <a href="#" onclick="document.getElementById('id02').style.display='block'"
                     class="d-block overlay-parent category-name"
                     style="color:#333;">
                          <span class="hoo">Explore</span>
                          <div class="small-head1 ml-auto mr-auto hoo"></div>
                  </a>
              </div>
          </div>
          <!-- <span class="caption-text">{{products.count}} pieces</span> -->
      </div>
      <div class="category-name"><h2>Corporate Gifting</h2></div>
    </div>

  </div>

  <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center justify-content-md-start" >
    <div>
      <div class="cat-thumb-parent-services" style="background-image: url('/static/services-full.jpg');  ">
          <div class="overlay">
              <div>
                  <a href="#" onclick="document.getElementById('id03').style.display='block'"
                     class="d-block overlay-parent category-name"
                     style="color:#333;">
                          <span class="hoo">Explore</span>
                          <div class="small-head1 ml-auto mr-auto hoo"></div>
                  </a>
              </div>
          </div>
          <!-- <span class="caption-text">{{products.count}} pieces</span> -->
      </div>
      <div class="category-name"><h2>Personalization</h2></div>
    </div>

    <div>
      <div class="cat-thumb-parent-services" style="background-image: url('/static/packaging.jpg'); ">
          <div class="overlay">
              <div>
                  <a href="#" onclick="document.getElementById('id04').style.display='block'"
                     class="d-block overlay-parent category-name"
                     style="color:#333;">
                          <span class="hoo">Explore</span>
                          <div class="small-head1 ml-auto mr-auto hoo"></div>
                  </a>
              </div>
          </div>
          <!-- <span class="caption-text">{{products.count}} pieces</span> -->
      </div>
        <div class="category-name"><h2>Bespoke Packaging</h2></div>
    </div>
  </div>

</div>

<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <h1>Wedding Gifting</h1>
      <div class="head"></div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <img src="{% static "wedding.jpg" %}" style="width:100%" />
        </div>
        <div class="col-md-6">
          <p style="margin-top:10px; margin-bottom:15px;">
            <u><a href="{% static "souffle-gifting-wedding.pdf" %}">You may also download our Wedding Gifting brochure for more information</a>.</u><br /><br />
            Gifts for guests at weddings can be soul less. Forgotten as soon as they are received. That’s where we come in. At Soufflé we believe in creating wedding giveaways that leave more than an impression on your guests.
            <br /><br />
            Soufflé cashmere stoles by Ezma Fine Cashmere are created from ultra fine yarn, spun on state of the art machines and created with the ‘pick of the litter’ cashmere, imported from UK, Italy and Scotland.
            <br /><br />
            These whisper weight scarves come in an array of colours and textures. From delicious sorbet hues to stunning metallic and ombre contrasts, our scarves make a statement with every wrap.
            <br /><br />
            Some are woven along with the finest Lurex fibres, adorned with French Chantilly Lace and bejeweled with Swarovski Crystals. Others are a play of subtle shades and strong patterns.
            <br /><br />
            For more information, please contact us on +91-9910003962 or email us at <a href="mailto:info@ezma.co.in">info@ezma.co.in</a>
          </p>
        </div>
      </div>
      <br />

    </div>
  </div>
</div>

<div id="id02" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <h1>Corporate Gifting</h1>
      <div class="head"></div><br />
      <div class="row">
        <div class="col-md-6">
          <img src="{% static "corporate.jpg" %}" style="width:100%; margin-bottom:25px;" />
        </div>
        <div class="col-md-6">
          <p style="margin-top:10px; margin-bottom:15px;">
            <u><a href="{% static "souffle-gifting-corporate.pdf" %}">You may also download our Corporate Gifting brochure for more information</a>.</u><br /><br />
            Corporate and Festive Gifts are as necessary as they are neglected. Chosen without care and received without joy. That’s where we come in.
            <br /><br />
            At Soufflé we believe in creating gifts and giveaways that leave an impression. Soufflé stoles and scarves by Ezma Fine Cashmere are created from ultra fine yarn, spun on state of the art machines and created with the ‘pick of the litter’ cashmere, imported from UK, Italy and Scotland.
            <br /><br />
            These whisper weight scarves come in an array of colours and textures. From delicious sorbet hues to stunning metallic and ombre contrasts, our scarves make a statement with every wrap.
            <br /><br />
            Some are woven along with the finest Lurex fibres, adorned with French Chantilly Lace and bejeweled with Swarovski Crystals. Others are a play
            of subtle shades and strong patterns.<br /><br />
            For more information, please contact us on +91-9910003962 or email us at <a href="mailto:info@ezma.co.in">info@ezma.co.in</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="id03" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <h1>Personalization</h1>
      <div class="head"></div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <img src="{% static "services-full.jpg" %}" style="width:100%; margin-bottom:25px;" />
        </div>
        <div class="col-md-6">
          <p style="margin-top:10px; margin-bottom:15px;">
            Designed by Souffle, personalized by you. Nothing beats the sublime sophistication of Swarovski crystal initials on a treasured stole. To ensure every gift is special, we are delighted to offer ‘Personally Soufflé’: a bespoke service, which allows you to customize the stole/scarf with a personal message, initials or monogram to suit the occasion.
            <br />
            <br />
            For more information, please contact us on +91-9910003962 or email us at <a href="mailto:info@ezma.co.in">info@ezma.co.in</a>.<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="id04" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id04').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <h1>Bespoke Packaging</h1>
      <div class="head"></div><br />
      <div class="row">
        <div class="col-md-6">
          <img src="{% static "packaging.jpg" %}" style="width:100%; margin-bottom:25px;" />
        </div>
        <div class="col-md-6">
          <p style="margin-top:10px; margin-bottom:15px;">
            We also understand the importance of presentation. Each gift box can be either custom made to suit your needs for an event or a special occasion as well as personalized with names or initials of the recipient.
            <br />
            <br />
            For more information, please contact us on +91-9910003962 or email us at <a href="mailto:info@ezma.co.in">info@ezma.co.in</a>.<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>







  <!-- <p>
    <h2>WEDDING GIFTING</h2>
    <br />
    Gifts for guests at weddings can be soul less. Forgotten as soon as they are received. That’s where we come in. At Soufflé we believe in creating wedding giveaways that leave more than an impression on your guests.

    Soufflé cashmere stoles by Ezma Fine Cashmere are created from ultra fine yarn, spun on state of the art machines and created with the ‘pick of the litter’ cashmere, imported from UK, Italy and Scotland.

    These whisper weight scarves come in an array of colours and textures. From delicious sorbet hues to stunning metallic and ombre contrasts, our scarves make a statement with every wrap.

    Some are woven along with the finest Lurex fibres, adorned with French Chantilly Lace and bejeweled with Swarovski Crystals. Others are a play of subtle shades and strong patterns.
    <br />
    <br />
    <h2>CORPORATE GIFTING</h2>
    <br />
    Corporate and Festive Gifts are as necessary as they are neglected. Chosen without care and received without joy. That’s where we come in.

    At Soufflé we believe in creating gifts and giveaways that leave an impression. Soufflé stoles and scarves by Ezma Fine Cashmere are created from ultra fine yarn, spun on state of the art machines and created with the ‘pick of the litter’ cashmere, imported from UK, Italy and Scotland.

    These whisper weight scarves come in an array of colours and textures. From delicious sorbet hues to stunning metallic and ombre contrasts, our scarves make a statement with every wrap.

    Some are woven along with the finest Lurex fibres, adorned with French Chantilly Lace and bejeweled with Swarovski Crystals. Others are a play
    of subtle shades and strong patterns.
    <br />
    <br /><h2>PERSONALIZATION</h2><br />

    Designed by Souffle, personalized by you. Nothing beats the sublime sophistication of hand-sewn initials on a treasured garment. To ensure every gift is special, we are delighted to offer ‘Personally Soufflé’: a bespoke service, which allows you to customize the stole/scarf with a personal message, initials or monogram to suit the occasion.

    <br />
    <br /><h2>BESPOKE PACKAGING</h2></br />

    We also understand the importance of presentation. Each gift box can be either custom made to suit your needs for an event or a special occasion as well as personalized with names or initials of the recipient.

  </p>
  <br /> -->

</div>
</div>
{% endblock content %}
