{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Our Story
{% endblock title %}


{% block content %}

<div class="screen">
  <br />
  <h1>Our Story</h1>
  <div class="head"></div>
  <br />
  <p>

    <img src="{% static "our-story.png" %}" style="width:100%;" class="img-fluid" /><br /><br />

    <br /><br /><h2>HERITAGE</h2><br />    
    EZMA is the specialist luxury division owned and promoted by the family of
    ESSMA Woolen Mills (ESSMA Felts Ltd.), an Indian household name in the
    woolen textiles for over four decades. In 2003, with a rich legacy to uphold and
    the accessibility of the diverse manufacturing facilities of ESSMA on hand,
    Sameer Mehra undertook a detailed research project with his core R&amp;D team
    that challenged them to produce the finest spun cashmere and other specialty
    fibre products.<br />
    The inspiration was primarily to overcome the misuse and the abuse of the word
    ‘pashmina’. The challenge to erase ambiguity on the content and the
    disorganized pricing that existed around the so called ‘pashmina’ shawls of the
    time. A testing four years on, EZMA evolved - the definitive name in cashmere
    and other luxury textiles in the world of contemporary fashion. Innovative
    experimentation that defied theories of textile production, constant testing at
    internationally accredited laboratories backed by arduous user trials by fashion
    conscious women of all ages resulted in the perfect blend of what EZMA and its
    products reflect today – a fusion of tradition, culture, colors and design. Every
    EZMA product is produced from the world’s finest and most carefully selected
    materials, using traditional as well as ultra-modern conversion methods to
    deliver some of the world’s finest fabrics.<br />
    The EZMA collection represents a fusion of modernity with tradition,
    contemporary with classic design and colors, and textiles to longevity.
    The EZMA guarantee for fibre purity and authenticity further enhances
    confidence in every product brought to you by EZMA.
  </p>

    <h2>A PASSION TO PRODUCE</h2><br />
    EZMA produces the finest textiles driven by a ‘ Passion for Perfection’ at every
    stage of the critical manufacturing and evaluating process and stages:
    Precision in Procurement
    Only the finest ‘best of season’ cashmere lots are carefully selected by EZMA. The
    task of selecting these is made even more exacting by the fact that most of the
    fibres EZMA works with are natural.<br />
    The finest quality cashmere lots are symmetrically isolated based on an ideal
    blend of color, lustre, micron (finesness) and fibre length. From these premium
    lots, the optimum fibre lot is hand picked for each product type and style
    depending on the yarn counts to be spun and the end use of that particular
    product.<br />
    Almost all the cashmere selected by EZMA is combed and de-haired under
    commission combing at the experienced mills in Biella (Italy) and the U.K. Apart
    from visual evaluations by trained experts, the cashmere lots also undergo
    several testing parameters at CCMI (Cashmere &amp; Camel Hair Manufacturers
    Institute) accredited international laboratories prior to acceptance with the
    EZMA mill. <br />

    <br />
    <br /><h2>Meticulous Manufacturing</h2><br />
    EZMA’s vertically integrated manufacturing system means that once the chosen
    fibres are received at plant site, they are again subjected to stringent quality
    control checks throughout the manufacturing stages as each process is carried
    out in-house. From carding to combing, specialty weaving on traditional Kaani or
    handloom, to power loom, to complex dobby’s, to the ultramodern
    Dornier/Staubli weaving system, each process is carried out to perfection within
    the production facilities owned by the EZMA/ ESSMA family. EZMA is probably
    the only textile mill in the world that incorporates six centuries of weaving
    techniques and systems concurrently and simultaneously.<br />
    In the finishing of the cashmere textile lies the key to perfection and quality. The
    finishing requires not only the desired finesse on advanced processing machines
    but also the knowledge and skills to understand the complex behavior of each lot
    of fibre to water and heat. It is the expert’s eye that EZMA counts on for the final
    process, which is also carried out within the EZMA/ESSMA process house based
    in the soft water terrain of Amritsar (Land of the Holy Water) in North India.
    The finished textile is then transformed into ‘woven art’ at the EZMA studio and
    design house located at Gurgaon (in the suburbs of Delhi).<br />
    <br /><h2>EZMA Care</h2>
    <br />
    Every EZMA product is a delicate luxury textile and requires due care during use,
    handling and storage. Frequent steam iron and professional dry clean on a
    periodic basis helps retain the natural texture and elegance of this cashmere
    product. For more information on maintenance please write to: info@ezma.co.in

  <br />




</div>

{% endblock content %}
