{% extends "base2.html" %}
{% load staticfiles %}

{% block title %}
Our Story
{% endblock title %}


{% block content %}

<div class="screen">
  <br />
  <h1>Thank You for Placing an Order</h1>
  <div class="head"></div>
  <br />
  <p>
  <h1>Thanks Your Order has been created and will be shipped soon</h1>


</div>

{% endblock content %}
