{% extends "base2.html" %}
{% load staticfiles %}
{% block title %}
  Viral Off
{% endblock title %}

{% block content %}
<br />
  <h1>Polygiene treats cashmere scarves from EZMA with Viraloff</h1>
  <div class="head"></div>
  <p>
<div class="row mt-2" style="text-align: center; margin-bottom:25px; padding-bottom:10px">    
    <div class="row ml-1">
        <div class="col-md-6">
            <p style="text-align: left;">
                The Indian brand EZMA is the specialist luxury Cashmere Division of the ESSMA Group. 
                They manufacture all kinds of cashmere products including scarves, stoles, as well as shawls, mufflers, capes, throws, carpets and blankets. 
                Partnering with Polygiene they will now offer ViralOff® treated cashmere products, starting with a range of scarves.
            </p>            
            <p style="text-align: left;">
                “A strategic alliance with Polygiene AB and specifically for the ViralOff treatment, a proven name in its own field,
                 allows EZMA to offer its patrons a sense of confidence and security in using the EZMA Fine Cashmere products,
                 especially in context of this post-Covid world order” says Mr. Sameer Mehra, Managing Director of EZMA.
            </p>
            <p style="text-align: left;">
                “It’s a start for us in cashmere fabrics”, says Ulrika Björk, CEO of Polygiene, “It makes a lot of sense to go with Viraloff in products 
                like scarves as they are so close to your face – but beyond the antiviral properties we should also remember they need less washing and 
                therefore these beautiful cashmere fabrics will last longer. We expect to expand in other ranges going forward.”                
            </p>            
            <p style="text-align: left;">
                Essma Group was founded over 55 years ago and Ezma has been specialising in production of Fine cashmere for over 15 years.
                EZMA works with a vertically integrated manufacturing system from carding to combing, specialty spinning, weaving on traditional Kaani or
                Handloom, complex dobby’s, ultra-modern weaving systems, each process is carried out to perfection within the production facilities owned by 
                the ESSMA group. EZMA is probably the only textile mill in the world that incorporates six centuries of weaving techniques and state of the 
                art-systems and technologies concurrently and simultaneously.                                 
            </p>
            <p style="text-align: left;">
                ViralOff is not intended to prevent disease, it is used for the 
                protection of the treated product.                
                <img src="{% static 'viraloff.png' %}" style="max-width:200px; margin-top:30px;" />
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'stone.JPG' %}" style="max-width: 400px;" />
        </div>
    </div>
</div>
{% endblock content %}