{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="container">
        {% block shipping_address %}
                {% if shipping_address %}
                    <div class="p-1 p-sm-2">


                        <ul class="list-unstyled">
                            <li class="mt-4">
                                    <h4 class="title-underline">{% trans "Address" %}</h4>
                                    <p>
                                        {% for field in shipping_address.active_address_fields %}
                                            {{ field }}
                                            {% if forloop.counter0 >= 0 %}
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                        <a style="text-decoration:underline" href="{% url 'checkout:shipping-address' %}">
                                                {% trans "Change" %}
                                            </a>
                                    </p>
                            </li>


                            <li class="mt-4">
                                <div class="row">
                                    <div class="col-6">
                                            {% if shipping_address.phone_number %}
                                                <h5>{% trans "Contact" %}</h5>
                                                {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                                {% if guest_email %}
                                                    <br/>{% trans "Email" %}: {{ guest_email }}
                                                {% endif %}
                                            {% endif %}
                                    </div>
                                    <div class="col-6">
                                        {% if shipping_address.notes %}
                                            <h5>{% trans "Instructions" %}</h5>
                                            <p>{{ shipping_address.notes|linebreaks }}</p>
                                        {% endif %}
                                    </div>
                                </div>

                            </li>

                            <li class="mt-4">
                                {% if shipping_method %}
                                    <div>
                                        <h5 class="title-underline">{% trans "Shipping method" %}</h5>
                                        <p>{{ shipping_method.name }}
                                            {% if shipping_method.description %}
                                                - {{ shipping_method.description|safe }}
                                            {% endif %}
                                        </p>
                                        <p>
                                                <a href="{% url 'checkout:shipping-method' %}">
                                                        {% trans "Change" %}
                                                    </a>
                                        </p>


                                    </div>
                                {% endif %}
                            </li>


                        </ul>

                    {% comment %}
                        {% block shipping_address_actions %}
                            <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h4>{% trans "Address" %}</h4>
                        <address>
                            {% for field in shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                {% if guest_email %}
                                    <br/>{% trans "Email" %}: {{ guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    {% endcomment %}
                    </div>
                {% endif %}
            {% comment %}
                {% if shipping_method %}
                    <div class="well well-info">
                        {% block shipping_method_actions %}
                            <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h3>{% trans "Shipping method" %}</h3>
                        <p>{{ shipping_method.name }}
                            {% if shipping_method.description %}
                                - {{ shipping_method.description|safe }}
                            {% endif %}
                        </p>

                    </div>
                {% endif %}
                {% endcomment %}
            </div>

        <hr style="border-top: 1px solid black;">
        {% endblock shipping_address %}

        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}

            <div class="container">
                <div>
                    <a href="{% url 'checkout:payment-details' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                    <h4 class="title-underline">{% trans "Payment" %}</h2>
                      <p>{% trans "We only accept prepaid orders at this store. You will be redirected to our very secure Payments Provider CCAvenue as soon as you click on <b>Place Order</b>, where you can continue paying via Credit Card / Debit Card / Net Banking / Wallets of your choice" %}</p>
                    <p>
                </div>
            </div>
            <hr style="border-top: 1px solid black;">
        {% endblock payment_method %}
    </div>

    {% block order_contents %}
    <div class="container">
        <div>
            {% block order_contents_actions %}
                <a href="{% url 'basket:summary' %}" class="pull-right">
                    {% trans "Edit order contents" %}
                </a>
            {% endblock %}

            <h4>{% trans "Order contents" %}</h4>
        </div>
        <div class="mt-2 mt-sm-4">
            <div class="row">
                <p class="col-sm-9 h6">{% trans "Item" %}</p>
                <p class="col-sm-1 h6 align-center">{% trans "Quantity" %}</p>
                <p class="col-sm-2 h6 align-right">{% trans "Total" %}</p>
            </div>
        </div>
        <div style="border:1px solid lightgray" class="p-2">
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container">
                            {% with image=line.product.primary_image %}
                                {% thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                {% endthumbnail %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h6><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h6>
                        <!-- <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span> -->
                    </div>
                    <div class="col-sm-1 align-center">
                        {{ line.quantity }}
                    </div>
                    <div class="col-sm-2 align-right">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="row" style="margin-left: 0px;">
            <div class="col-sm-6">
                {% include 'basket/partials/basket_totals.html' %}
            </div>
        </div>
    </div>
    {% endblock order_contents %}

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

<div style="margin-bottom:1.5em;">
    {% block place_order %}
    {% endblock place_order %}
</div>

{% endblock content %}
