{% load i18n %}

<div class="container mt-4 mt-lg-0">
    {% if step > 0 %}
    <h4 class="text-center">Check your..</h4>
    {% endif %}
    <div class="row d-flex justify-content-center topbar-checkout">
        {% if step == 0 %}
            <h4 class="title-underline-center">Let's start with your credentials!</h4>

        {% else %}
        <div class="d-inline-block p-2">
                <span class="step1 {% if step == 1 %}active{% else %}{% if step == 2 %}previous{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                        {% if step == 2 or step == 3 or step == 4 %}
                            <a href="{% url 'checkout:shipping-address' %}">
                                {% trans "Shipping address" %}
                            </a>
                        {% else %}
                                {%  trans "Shipping address" %}
                        {% endif %}
                </span>
        </div>
        <div class="d-inline-block p-2">
                <span class="step2 {% if step == 2 %}active{% else %}{% if step == 3 %}previous{% else %}{% if step > 2 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                        {% if step == 3 or step == 4 %}
                            <a href="{% url 'checkout:shipping-method' %}">
                                    {% trans "Shipping method" %}
                            </a>
                        {% else %}
                                {%  trans "Shipping method" %}
                        {% endif %}
                        </span>
        </div>
        <div class="d-inline-block p-2">
                <span class="step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                        {% if step == 4 %}
                            <a href="{% url 'checkout:payment-details' %}">
                                    {% trans "Payment" %}
                            </a>
                        {% else %}
                                {%  trans "Payment" %}
                        {% endif %}
                        </span>
        </div>
        <div class="d-inline-block p-2">
                <span class="step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
                        <span>
                            {% trans "Preview" %}
                        </span>
                    </span>
        </div>
        <div class="d-inline-block p-2">
                <span class="step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
                        <span>
                            {% trans "Confirmation" %}
                        </span>
                    </span>
        </div>
        {% endif %}
    </div>
</div>

{% comment %}
<div class="navbar navbar-static-top navbar-inverse nav-checkout" style="margin-top:2em;">
    <ul class="nav navbar-nav" style="margin-top:0;">
        {% spaceless %}
            <li class="step1 {% if step == 1 %}active{% else %}{% if step == 2 %}previous{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 2 or step == 3 or step == 4 %}
                    <a href="{% url 'checkout:shipping-address' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                            {% trans "1. Shipping address" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                        {%  trans "1. Shipping address" %}
                    </span>
                {% endif %}
            </li>

            <li class="step2 {% if step == 2 %}active{% else %}{% if step == 3 %}previous{% else %}{% if step > 2 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 3 or step == 4 %}
                    <a href="{% url 'checkout:shipping-method' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                            {% trans "2. Shipping method" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                        {%  trans "2. Shipping method" %}
                    </span>
                {% endif %}
            </li>

            <li class="step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 4 %}
                    <a href="{% url 'checkout:payment-details' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                            {% trans "3. Payment" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                        {%  trans "3. Payment" %}
                    </span>
                {% endif %}
            </li>

            <li class="step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
                    {% trans "4. Preview" %}
                </span>
            </li>

            <li class="step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
                    {% trans "5. Confirmation" %}
                </span>
            </li>
        {% endspaceless %}
    </ul><!-- /navbar-inner -->
</div><!-- /navbar -->
{% endcomment %}