{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}

{% block payment_method %}

  <div style="margin-left:15px;">

    <p>{% trans "Please choose the payment option by which you would like to pay for the order" %}</p>

    <div class="row-fluid">
        <div class="well col-sm-6">
        <form action="{% url 'checkout:preview' %}" name="payment-method" class="payment-details form-horizontal" method="post">

                {% csrf_token %}
                {{ billing_address_form.non_field_errors }}

                    <p>
                      <input type="radio" name="paymentMethod" value="1" />Cash on Delivery (COD)<br />
                      <input type="radio" name="paymentMethod" value="2" />Credit Card/ Debit Card/ Netbanking/ Cash-Cards or E-Wallet<br />
                       <!-- <label for="{{ billing_address_form.same_as_shipping.0.id_for_label }}" class="radio">
                            Pay by Cash on Delivery (COD)
                        </label>
                        <label for="{{ billing_address_form.same_as_shipping.1.id_for_label }}" class="radio">
                            Pay by Credit Card/ Debit Card/ Netbanking/ Cash-Cards or E-Wallet
                        </label> -->
                    </p>
                    <!-- <div id="billing_address_form" style="display:none"> -->
                    <button type="submit" class="pull-right btn btn-large btn-primary">{% trans "Continue" %}</button>
        </form>

        <!-- </div> -->
    </div>
  </div>

</div>
{% endblock payment_method %}


{% block onbodyload %}
    {# Toggle visibility of the billing address form #}
    if ($("input[name='same_as_shipping']")[1].checked){
        $("#billing_address_form").show();
    }
    $("input[name='same_as_shipping']").change(function(){
        $("#billing_address_form").toggle();
    });
{% endblock %}
