{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load purchase_info_tags %}
{% load product_tags %}
{% load basket_tags %}
{% load thumbnail %}

{% block title %}
  {{category.name}} - Souffl&eacute; by Ezma
{% endblock title %}

{% block content %}

<p>
  {{category.description|safe}}
</p>
  <div>
    <img src="/media/category-banners/{{category.name|slugify|lower}}.png" style="width:100%" class="img-fluid" />
  </div>
    <div class="container mt-4 mb-5">
      <div class="row d-flex justify-content-center align-items-center flex-wrap">

          {% for product in products %}
          {% basket_form request product.product 'single' as basket_form %}
          {% purchase_info_for_line request product as session %}

            <div class="col-12 col-sm-4">
              <a href="/catalogue/{{product.product.slug}}_{{product.product.pk}}" class="d-block">
                <div>
                  {% if product.product.categories.all.0|lower == "star struck simplicity" and product.product.title|lower == "moon grey" %}
                    <img src="/media/product-pictures/moon-grey-star.jpg" style="width:500px;" class="img-fluid" />
                  {% else %}
                    <img src="/media/product-pictures/{{product.product.title|slugify}}.jpg" style="width:500px;" class="img-fluid" />
                  {% endif %}
                  <!-- <img class="text-center" src="/media/product-pictures/{{product.product.title|slugify}}.jpg" class="img-fluid" /> -->
                </div>
                <div class="text-center mt-1 mb-2 mob-small">
                      <h3>{{product.product.title|upper}}</h3>
                      <h5>{{product.price_retail|currency:product.price_currency}}</h5>
                </div>
              </a>
            </div>
          {% endfor %}
      </div>
    </div>

{% endblock %}
