{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load purchase_info_tags %}
{% load product_tags %}
{% load basket_tags %}
{% load thumbnail %}

{% block title %}
  Our Souffl&eacute; Catalog | Ezma
{% endblock title %}

{% block content %}

<p class="hidden-xs hidden-sm" style="margin-top:15px; margin-bottom:35px;">
  Few things stand the test of time and even fewer transcend the boundaries of time and trends. One such venture into the timeless art of weaving is Soufflé. Encouraged by the doctrine of romanticism and the concept of imbibing what you wear we bring forward a line of stoles and scarves, supple to the touch of both skin and soul.
<br /><br />
Soufflé resonates with the doctrines of romanticism. ‘To be free’ is a powerful motivator of the design. With our light, flowing, almost fluid designs we aspire to inspire the concept of being one with nature and in turn being one with one’s self.
<br /><br />
Our scarves aim to gently caress your skin as we hope to inculcate the feeling of plush luxury in the wearer. The stoles and scarves lines consist primarily of colors and textures that mirror the season and the feelings that go with it.
<br /><br />
The latest line comprises of our best selling scarves and stoles over the years. Wrap yourself in an array of luxurious colors including the dusky ‘twilight’, the bright tone of ‘pale mango’ and the cheerful happiness of ‘bubblegum’. We bring back, by popular demand, the golden oldies. Let the nostalgia of years gone by, flood the senses and bring back memories of a simpler time, a more romantic era.
<br />
</p>

<!-- <div class="visible-xs visible-sm">
  <h1 style="font-family:garamond; font-size:35px; text-align:center;">Souffl&eacute; Collection 2016</h1>
</div> -->


    <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center justify-content-md-start" >
        {% for category in l %}
        {% if category.name != "Shibori" %}
        <!-- style="background-image:url('/path/to/image') -->
        <div>
          <div class="cat-thumb-parent" style="background-size: cover; background-image: url('/media/{{category.image}}');">
              <div class="overlay">
                  <div>
                      <a href="{% url "catalogue:category" category.slug category.pk %}"
                         class="d-block overlay-parent category-name"
                         style="color:#333;">
                              <span class="hoo">EXPLORE</span>
                              <div class="small-head1 ml-auto mr-auto hoo"></div>
                      </a>
                  </div>
              </div>
              <!-- <span class="caption-text">{{products.count}} pieces</span> -->
          </div>
          <div class="category-name" style="margin-bottom:5px;">
            <a href="{% url "catalogue:category" category.slug category.pk %}">{{category.name}}</a><br />
          </div>
        </div>
        {% endif %}

        {% endfor %}

    </div>

{% comment %}
<div class="container">
    <div class="row d-flex">
        {% for category in categories %}
        <div class="col-12 col-md-4 cat-thumb">
                <a href="{% url "catalogue:category" category.slug category.pk %}">
                        <img src="/media/{{category.image}}" />
                </a>
                <a href="{% url "catalogue:category" category.slug category.pk %}" class="d-block overlay-parent category-name" style="color:#333;">
                        {{category.name|upper}}<br />
                        <!-- <span class="caption-text">{{products.count}} pieces</span> -->
                </a>
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
    <table class="table borderless">
        <tbody>
            <tr>
            {% for category in categories %}
                <td><a href="{% url "catalogue:category" category.slug category.pk %}" class="cat-thumbnail">

                    <img src="/static/homepage/mobilecats/{{category.name|title}}.jpg" style="width:225px; height:176px;">
                    <div class="caption">
                      <div>
                        <!-- <span></span><br /> -->
                        <span>{{category.name|upper}}<br /><br /><br />{{category.description|safe}}</span>
                      </div>
                    </div>
                    <!-- <span>({{category.products.count}})</span> -->
                </a></td>
                {% if forloop.counter|divisibleby:3 %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
            </tr>

        </tbody>
    </table>
</div>

{% endcomment %}


<!-- Mobile Version for this page -->
<!-- <div class="main visible-xs visible-sm">
    <table class="table borderless">
        <tbody>
            <tr>
            {% for category in categories %}
                <td><a href="{% url "catalogue:category" category.slug category.pk %}" class="cat-thumbnail">
                    <img src="/static/homepage/mobilecats/{{category.name|title}}.jpg" class="img-responsive">
                </a></td>
                {% if forloop.counter|divisibleby:2 %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
            </tr>

        </tbody>
    </table>
</div> -->


{% endblock content %}
