
{% extends "base2.html" %}
{% load i18n %}
{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load purchase_info_tags %}
{% load product_tags %}
{% load basket_tags %}
{% load thumbnail %}

{% block title %}
  {{category.name}} - Souffl&eacute; by Ezma
{% endblock title %}

{% block content %}

<div class="main">

        <div class="hidden-xs hidden-sm row is-table-row">
            <div class="col-md-7 background-white">
                <center>
                    {% comment %}
                        README:

                        to add an image-
                        1. add an area tag with onclick attribute calling prod_disp function
                        2. title attr of area tag should be the slug value of the product
                    {% endcomment %}

                    {% if category.name|upper == 'SORBET' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/sorbet-1.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="green-apple" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="bubblegum" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="currant" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="ice" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="spearmint" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="cantaloupe" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/sorbet-2.jpg' %}" usemap="#MapSouffle" />
                                <map name="MapSouffle" id="Map2">
                                    <area alt="" title="creme" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="rose" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="latte" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="lemon" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="caramel" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="mango" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SPRINKLE' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/sprinkle-circle.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="charcoal" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="black" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="white" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="gravel" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SPACES' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/spaces.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="charcoal" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="burgandy" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="ocean" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="brown" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SCATTER' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/scatter.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="charcoal" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="black" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="gravel" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="white" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SENSES' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/senses.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="turmeric" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="neem" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="natural" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="green-tea" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="coffee" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="horseshoe-bay" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SEQUENCE' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/sequence-1.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="mustard-mocha-gold" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="black-white-pewter" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="denim-blue-silver" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="charcoal-mocha-black" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/sequence-2.jpg' %}" usemap="#MapSouffle" />
                                <map name="MapSouffle" id="Map2">
                                    <area alt="" title="marsala-mocha-bronze" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="teal-blue-mocha" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="saffron-mocha-gold" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="pristine-coral-gold" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SHADES' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/shades-1.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="sunset-tequila" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="peach-passion" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="olive-garden" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="blue-marine" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="orange-daiquiri" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="violet-grace" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/shades-2.jpg' %}" usemap="#MapSouffle" />
                                <map name="MapSouffle" id="Map2">
                                    <area alt="" title="lavender-grey" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="coral-haze" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="blue-hues" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="lilac-winter" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="candy-floss" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="mango-delight" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SHADOWS' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/shadows.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="orange-cinnamon" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="aged-marsala" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="violet-night" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="brick-terracota" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="midnight-peacock" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="shale-slate" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SHIMMERS' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/shimmers-1.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="mocha-gold" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="pink-silver" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="teal-silver" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="salmon-silver" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/shimmers-2.jpg' %}" usemap="#MapSouffle" />
                                <map name="MapSouffle" id="Map2">
                                    <area alt="" title="chocolate-gold" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="charcoal-silver" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="ebony-black" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="aubergine-gold" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == "SO'LACE" %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/solace.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="black-mocha" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="mocha" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="moon-gray" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="red-black" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="black" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="smoky-quartz" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SQUARES' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/squares.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="tweed-slate" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="camel-squares" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="slate-squares" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="tweed-camel" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'STARK' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/stark-1.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="obsidian" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="charolite" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="saphhire" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="emerald" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="amethyst" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="firoza" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/stark-2.jpg' %}" usemap="#MapSouffle" />
                                <map name="MapSouffle" id="Map2">
                                    <area alt="" title="garnet" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="rhodolite" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="carnelian" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="coral" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="burmite" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="ruby" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'STARS' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/stars.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="indigo-blue" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="moon-white" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="crimson-red" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="paradiso-black" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="beige-luminere" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="moon-grey" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'STARTELL' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/startell.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="carmine" href="#" shape="poly" coords="277,34,276,178,310,187,332,200,351,220,365,247,367,274,515,274,513,235,506,206,493,173,471,138,451,110,423,86,396,66,365,50,315,35" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="black" href="#" shape="poly" coords="369,279,517,279,512,321,501,359,475,411,451,444,399,486,353,507,315,518,280,519,275,519,275,375,305,369,335,351,357,327,367,302" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="charcoal" href="#" shape="poly" coords="272,373,272,520,236,518,205,510,168,496,145,481,111,455,86,428,61,392,47,358,35,316,32,277,178,276,183,306,194,332,215,353,243,368" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="mocha" href="#" shape="poly" coords="179,272,34,273,39,225,49,191,70,148,104,106,134,80,170,57,220,41,258,34,272,35,273,179,244,183,221,194,200,214,187,238" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'STONES' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/stones.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">
                                    <area alt="" title="ash" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="twilight" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="coal" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="mahogany" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="sandstone" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                    <area alt="" title="smoky" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />
                                </map>
                            </div>
                        </div>
                    {% endif %}
                    {% if category.name|upper == 'SWIRL' %}
                        <div class="owl-carousel owl-theme" id="owl-cat" style="overflow:hidden;width:550px;">
                            <div class="item">
                                <img src="{% static 'homepage/images/collections/jpegs/swirl.jpg' %}" alt="" usemap="#MapBubble" />
                                <map name="MapBubble" id="Map">

                                        <area alt="" title="blue-moon" href="#" shape="poly" coords="392,70,319,190,280,180,245,183,227,189,160,70,216,50,266,41,335,50" onclick="disp_prod(this.getAttribute('title'))" />
                                        <area alt="" title="red-beet" href="#" shape="poly" coords="394,74,325,191,339,206,355,222,368,247,370,278,378,274,508,272,495,194,477,156,443,113" onclick="disp_prod(this.getAttribute('title'))" />
                                        <area alt="" title="pineapple-punch" href="#" shape="poly" coords="327,357,347,338,358,323,364,308,370,291,372,279,379,277,508,277,500,338,466,407,431,448,405,470,391,474" onclick="disp_prod(this.getAttribute('title'))" />
                                        <area alt="" title="blue-curacao" href="#" shape="poly" coords="321,358,389,478,348,496,271,507,218,500,159,476,228,360,263,372,298,369" onclick="disp_prod(this.getAttribute('title'))" />
                                        <area alt="" title="pink-passoa" href="#" shape="poly" coords="223,357,155,474,107,435,61,367,46,326,41,285,42,276,175,276,186,314,198,334" onclick="disp_prod(this.getAttribute('title'))" />
                                        <area alt="" title="black-sesame" href="#" shape="poly" coords="155,73,223,191,188,232,182,257,178,274,43,272,50,210,79,147,116,104" onclick="disp_prod(this.getAttribute('title'))" />


                                </map>
                            </div>
                        </div>
                    {% endif %}
                </center>
            </div>
            <div class="col-md-6 background-white" id="img-container" style="padding:0; width:100%">
                <div class="parent-prod-box">
                    {% for product in products %}
                    {% basket_form request product.product 'single' as basket_form %}
                    {% purchase_info_for_line request product as session %}
                    <div id="prod-{{product.product.slug}}" style="margin-left:-10px;">
                        <div class="prod-box" style="margin-left:-7px;">
                          <div class="easyzoom">
                             <a href="{{product.product.primary_image.original.url}}">
                              <img src="{{product.product.primary_image.original.url}}" width="365" id="zoomedImage" data-zoom-image="{{product.product.primary_image.original.url}}" style="height:461px;" />
                            </a>
                          </div>
                            <script type="text/javascript">
                            $("#zoomedImage").elevateZoom();
                            </script>
                            <div class="prod-desc">
                                  <div style="margin-top:35px; color:white; background-color:#4c4c4c; padding-top:10px; padding-bottom:0px; height:550px;">
                                      <span style="font-size:20px; font-family:'arial';">{{product.product.title|upper}}</span><br />
                                      <span style="font-family:'arial';">100% Cashmere</span><br />
                                      <span style="font-family:'arial';">70 cms x 200 cms (Approx.)</span><br />
                                      {{product.price_retail|currency:product.price_currency}} - <span style={% if session.availability.short_message %}"color:green;"{% else %}"color:red;"{% endif %}>{{session.availability.short_message|title}}</span><br />
                                    <div style="width:100%;">
                                        <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.product.pk  %}" method="post">
                                            {{ basket_form.as_p }}
                                            {% csrf_token %}
                                            <button type="submit" style="width:100%;" class="btn" data-toggle="tooltip" data-placement="top" data-loading-text="{% trans 'Adding...' %}" title="Add to Cart">
                                            <span style="width:100%;">Add to Cart</span>
                                            </button>
                                        </form>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
               </div>
            </div>
        </div>
        <div class="visible-xs visible-sm col-sm-12 col-xs-12" style="padding:0; width:100%; margin-top:-50px;">

          <div>
            <h1 style="font-family:garamond; font-size:25px; text-align:center;">{{category.name}} Souffl&eacute; Collection 2016</h1>
          </div>

            <div class="owl-carousel owl-theme" id="owl-cat-mobile">
                {% for product in products %}
                {% basket_form request product.product 'single' as basket_form %}
                {% purchase_info_for_line request product as session %}
                <div class="item">
                  <div class="visible-xs visible-sm">
                    <img src="{{product.product.primary_image.original.url}}" width="100%" />
                  </div>
                  <div class="prod-desc" style="margin-top:-10px;">
                        <div style="margin-top:1px; color:white; background-color:#4c4c4c; padding-top:10px; padding-bottom:0px; margin-left:-15px; margin-bottom:-10px; width:110%; height:145px;">
                            <span style="font-size:20px; font-family:'arial';">{{product.product.title|upper}}</span><br />
                            <span style="font-family:'arial';">100% Cashmere</span><br />
                            <span style="font-family:'arial';">70 cms x 200 cms (Approx.)</span><br />
                            {{product.price_retail|currency:product.price_currency}} - <span style={% if session.availability.short_message %}"color:green;"{% else %}"color:red;"{% endif %}>{{session.availability.short_message|title}}</span><br />
                          <div style="width:100%;">
                              <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.product.pk  %}" method="post">
                                  {{ basket_form.as_p }}
                                  {% csrf_token %}
                                  <button type="submit" style="width:100%; margin-top:0px;" class="btn" data-toggle="tooltip" data-placement="top" data-loading-text="{% trans 'Adding...' %}" title="Add to Cart">
                                    <span style="width:100%;">Add to Cart</span>
                                  </button>
                              </form>
                          </div>
                        </div>
                  </div>
                </div>
                {% endfor %}

            </div>
           </div>
        </div>
</div>

<style type="text/css">
.easyzoom {
    z-index: 100;
    float: left;
}
.easyzoom img {
    z-index: 100;
    display: block;
}


/* Shrink wrap strategy 2 */
.easyzoom {
    z-index: 100;
    display: inline-block;
}
.easyzoom img {
    z-index: 100;
    vertical-align: bottom;
}
</style>
{% endblock content %}
