{% extends "base2.html" %}
{% load i18n %}
{% load history_tags %}
{% load currency_filters %}
{% load display_tags %}
{% load purchase_info_tags %}
{% load staticfiles %}
{% load currency_filters %}
{% load category_tags %}
{% load purchase_info_tags %}
{% load product_tags %}
{% load basket_tags %}
{% load thumbnail %}

{% block title %}
  {{product.title}} | {{product.categories.all.0}}
{% endblock title %}

{% block content %}

<div class="container mt-4 mb-2" style="overflow:hidden;">
        <div class="visible-sm-down">
                <h2 class="title-underline-center">{{ product.title }}</h2>
                <h6 class="text-center">{{ product.description|safe}}</h6>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {% if product.categories.all.0|lower == "stars" and product.title|lower == "moon grey" %}
                  <img src="/media/product-pictures/moon-grey-star.jpg" style="width:100%;" class="prod-img img-fluid" />
                {% else %}
                  <!-- <img src="https://souffle.co.in/media/product-pictures/slate-tweed.jpg" style="width:100%" class="prod-img img-fluid" /> -->
                  <img src="/media/product-pictures/{{product.title|slugify}}.jpg" style="width:100%" class="prod-img img-fluid" />
                {% endif %}
                <!-- <div class="preview-box">
                    <div></div>
                </div>
                <div class="product-thumbnails">
                    <div></div>
                    <div></div>
                    <div></div>
                </div> -->
            </div>
            <div class="col-12 col-md-6 product-text-info d-flex flex-column">
                <h2 class="title-underline visible-sm-up">{{ product.title }}</h2>
                <h6 class="visible-sm-up">A Souffle {{product.categories.all.0}} Scarf</h6>

                {% purchase_info_for_product request product as session %}

                <h4>{{ session.price.incl_tax|currency:session.price.currency }} <span style="font-size:14px;">Inclusive of GST</span></h4>

                <div class="row">
                  <div class="col-md-6">
                    <p class="mt-4 mb-2">
                      Size- 28" x 80"<br />
                      {% if product.categories.all.0|lower == "shimmer" %}
                      90% Cashmere and 10% Lurex<br />
                      {% else %}
                      100% Cashmere exclusive of decoration<br />
                      {% endif %}
                      Dry Clean Only<br />
                      Made in India<br />
                      {% if product.upc %}{{product.upc}}{% else %}A Souffle by Ezma Product{% endif %}<br />
                    </p>
                  </div>


                </div>

                <div class="row">
                  <div>
                  </div>
                </div>


                <h4 class="mt-4" style="text-decoration: underline">
                  <a href="#" onclick="document.getElementById('id01').style.display='block'">personalise your scarf
                  </a></h4>
                <h6>with original swarovski crystals</h6>
                <p class="mb-4">
                    <input type="text" class="form-control" placeholder="Add upto 2 Initials">
                </p>

                <div class="mb-3">
                  {% comment %}{% if product.categories.all.0|lower == "stars" or product.categories.all.0|lower == "sequence" %}{% endcomment %}
                  <img src="{% static "swarovski-seal.png" %}" class="img-fluid" style="width:100px;" />
                  {% if product.categories.all.0|lower == "solace" %}<img src="{% static "shlogo.png" %}" class="img-fluid" style="width:100px;" />{% endif %}
                  {% comment %}{% endif %}{% endcomment %}
                  {% if product.categories.all.0|lower == "shimmer" %}
                  <img src="{% static "lurex.png" %}" class="img-fluid" style="width:150px;" />
                  {% endif %}
                </div>

                <div>

                    {% purchase_info_for_product request product as session %}

                    {% if session.availability.is_available_to_buy %}
                        {% basket_form request product as basket_form %}
                        <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=basket_form %}
                            <button type="submit" class="btn btn-cart" style="padding: 1em 3.5em !important">add to cart</button>
                        </form>
                        <div class="mt-2 mb-4">
                        </div>
                    {% endif %}


                    <!-- <a href="#" class="ml-2"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a> -->
                </div>

                <div class="pt-4 mt-sm-auto pt-sm-0"><a href="{% url "catalogue:category" product.categories.all.0.name|slugify product.categories.all.0.pk %}">More from {{product.categories.all.0}}</a></div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12">
              <h3>Explore more colors in {{product.categories.all.0.name}}</h3>              
            </div>            
          </div>
        <div class="row">
          {% for each in related_products %}
          <div class="col-md-3">
            <a href="{{each.get_absolute_url}}"><img src="/media/product-pictures/{{each.title|slugify}}.jpg" style="width:100%;" class="img-fluid" /></a>
            <!-- <img src="https://souffle.co.in/media/product-pictures/slate-tweed.jpg" style="width:100%;" class="img-fluid" /> -->
            <p><a href="{{each.get_absolute_url}}">{{each.title}} | {{ session.price.incl_tax|currency:session.price.currency }}, Inclusive of GST</a></p>
          </div>
          {% endfor %}
        </div>
    </div>

    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <h1>Personalize your Souffle by Ezma</h1>
          <div class="head"></div><br />
          <div class="row">
            <div class="col-md-6">
              <img src="{% static "personalization.jpg" %}" style="width:100%; margin-bottom:25px;" />
            </div>
            <div class="col-md-6">
              <p style="margin-top:10px; margin-bottom:15px;">
                Designed by Soufflé, personalized by you. Customize the stole/ scarf, using original Swarovski Crystals. This complimentary service allows you to monogram upto 2 initials, on your favorite Soufflé scarves. For further information, <a href="/services/">CLICK HERE</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
