<div class="sidebar">
    <aside class="widget">
        <h4 class="widget-title">FILTER BY PRICE</h4>
        <div class="options-price">
            <div id="price-slider"></div>
            <div class="price-range">
                <label for="amount">PRICE:</label>
                <input type="text" id="amount" readonly />
            </div>
            <button class="filter-price-btn">Filter</button>
        </div>
    </aside>
    <aside class="widget">
        <h4 class="widget-title">CATEGORIES</h4>
        <ul class="ul-sidebar">
          {% for category in categories %}
            <li>
                <a href="{% url "catalogue:category" category.slug category.pk %}">
                    {{category.name}}
                    <!-- <span>({{category.products.count}})</span> -->
                </a>
            </li>
          {% endfor %}
        </ul>
    </aside>
    <aside class="widget">
        <h4 class="widget-title">FILTER BY COLOR</h4>
        <ul class="ul-sidebar">
            <li>
                <a href="#">
                    Black
                    <span>(50)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Red
                    <span>(15)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Yellow
                    <span>(7)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Blue
                    <span>(25)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Green
                    <span>(13)</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Gray
                    <span>(75)</span>
                </a>
            </li>
        </ul>
    </aside>
</div>
